<h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content class="mat-typography">
  <form class="flex flex-col my-2">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input [formControl]="nameControl" type="text" matInput placeholder="">
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onClose()" mat-stroked-button>Cancel</button>
  <button [disabled]="nameControl.invalid" (click)="onSave()" mat-flat-button color="primary">
    <div class="flex items-center gap-2">
      Save
    </div>
  </button>
</mat-dialog-actions>
<app-loader [loading]="loading"></app-loader>
